<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <title>自然风光主题酒店</title>
    <style>
        .header{
            width: 100%;
            display: inline-block;
            margin: 10px auto;
            height: 50px;
            background-color: #bce8f1;
            line-height: 50px;
        }
        .HomeInfor{
            display: none;
        }

        .foodInfor{
            display: none;
        }
        .EntertainmentInfor{
            display: none;
        }
        .hostelImg{
            width: 60px;
            height: 60px;
        }
        .searchRoom{
            margin-left: 40%;
        }

        .search_roombtn{
            margin-left: 56%;
            margin-top: -51px;
        }

        .hiden {
            display: none;
        }
    </style>
    <script>
        $(function () {
            <!-- 导航栏 -->
            $(".nav_tab").click(function () {
                if(!$(this).hasClass('active')){
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');

                }
                if($(this).hasClass('nav_tab01')){
                    $('.StyleInfor').show();
                    $('.HomeInfor').hide();
                    $('.foodInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if($(this).hasClass('nav_tab02')){
                    $('.HomeInfor').show();
                    $('.StyleInfor').hide();
                    $('.foodInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if($(this).hasClass('nav_tab03')){
                    $('.foodInfor').show();
                    $('.StyleInfor').hide();
                    $('.HomeInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if($(this).hasClass('nav_tab04')){
                    $('.EntertainmentInfor').show();
                    $('.foodInfor').hide();
                    $('.StyleInfor').hide();
                    $('.HomeInfor').hide();
                }
            });

            <!-- 房间搜索 -->
            $(".search_roombtn").click(function () {
                var trList = $(".roomTbody").children("tr");
                var trLength = trList.length;
                for (var i = 0; i < trLength; i++) {
                    var tdArr = trList.eq(i).find("td");
                    var tdRoomNo = tdArr.eq(1).text();
                    var tdRoomTheme = tdArr.eq(2).text();
                    var tdRoomAccomondate = tdArr.eq(3).text();
                    var tdRoomPrice = tdArr.eq(4).text();
                    var inputRoomSearch = $("#inputRoomSearch").val();
                    if (tdRoomNo.match(inputRoomSearch) || tdRoomTheme.match(inputRoomSearch) || tdRoomAccomondate.match(inputRoomSearch) || tdRoomPrice.match(inputRoomSearch)) {
                        trList.eq(i).show();
                    } else {
                        trList.eq(i).hide();
                    }
                }
            });
            <!-- 餐饮搜索 -->
            $("#foodSearch").click(function () {
                var trList = $("#foodTbody").children("tr");
                var trLength = trList.length;
                for (var i = 0; i < trLength; i++) {
                    var tdArr = trList.eq(i).find("td");
                    var tdFoodName = tdArr.eq(1).text();
                    var tdfoodType = tdArr.eq(2).text();
                    var tdfoodPrice = tdArr.eq(3).text();
                    var tdfoodInfor = tdArr.eq(4).text();
                    var foodText = $("#foodText").val();
                    if (tdFoodName.match(foodText) || tdfoodType.match(foodText) || tdfoodPrice.match(foodText) || tdfoodInfor.match(foodText)) {
                        trList.eq(i).removeClass("hiden");
                    } else {
                        trList.eq(i).addClass("hiden");
                    }
                }
            });
            <!-- 娱乐搜索 -->
            $("#enterSearch").click(function () {
                var trList = $("#enterTbody").children("tr");
                var trLength = trList.length;
                for (var i = 0; i < trLength; i++) {
                    var tdArr = trList.eq(i).find("td");
                    var tdenterName = tdArr.eq(1).text();
                    var tdenterPlace = tdArr.eq(2).text();
                    var tdenterInfor = tdArr.eq(3).text();
                    var enterText = $("#enterText").val();
                    if (tdenterName.match(enterText) || tdenterPlace.match(enterText) || tdenterInfor.match(enterText)) {
                        trList.eq(i).removeClass("hiden");
                    } else {
                        trList.eq(i).addClass("hiden");
                    }
                }
            });

            <!-- 房间单击事件 -->
            $('.updata_room').click(function () {
                var id = this.getAttribute('id');
                $("#"+id).children().removeClass('hiden');
                $("#"+id).children().focus();
            })
            <!-- 房间双击事件 -->
            $('.updata_room').dblclick(function () {
                var tdId = this.getAttribute('id');
                if(tdId.match("ThemeId")){
                    tdRoom = "themeId";
                }
                else if(tdId.match("Accommodate")){
                    tdRoom = "accommodate";
                }
                if(tdId.match("RoomPrice")){
                    tdRoom = "roomPrice";
                }
                var tr = $("#"+tdId).parent();
                if($("#"+tdId).children().val().length>0){
                    var data = "id="+tr.attr('id')+"&name="+tdRoom+"&value="+$("#"+tdId).children().val();
                    var ThemeHttp=new XMLHttpRequest();
                    ThemeHttp.open('POST',"http://localhost:8883/updateRoom",true);
                    ThemeHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    ThemeHttp.send(data);
                }
                $("#"+tdId).children().addClass('hiden');
            })

            <!-- 餐饮单击事件 -->
            $(".foodChange").click(function () {
               var id = $(this).attr('id');
                var input = $("#"+id).find("input").eq(0);
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            <!-- 餐饮双击事件 -->
            $('.foodChange').dblclick(function () {
                var tdId = $(this).attr('id');
                if(tdId.match("foodNameChange")){
                    tdFood = "foodName";
                }
                if(tdId.match("foodTypeChange")){
                    tdFood = "foodType";
                }
                if(tdId.match("foodPriceChange")){
                    tdFood = "foodPrice";
                }
                if(tdId.match("foodInforChange")){
                    tdFood = "foodInfor";
                }
                var tr = $("#"+tdId).parent();
                if($("#"+tdId).children().val().length>0){
                    var data = "id="+tr.attr('id')+"&name="+tdFood+"&value="+$("#"+tdId).children().val();
                    var ThemeHttp=new XMLHttpRequest();
                    ThemeHttp.open('POST',"http://localhost:8883/updateFood",true);
                    ThemeHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    ThemeHttp.send(data);
                }
                $("#"+tdId).children().addClass('hiden');
            })

            <!-- 娱乐单击事件 -->
            $(".enterChange").click(function () {
                var id = $(this).attr('id');
                var input = $("#"+id).find("input").eq(0);
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            <!-- 娱乐双击事件 -->
            $('.enterChange').dblclick(function () {
                var tdId = $(this).attr('id');
                if(tdId.match("enterNameChange")){
                    tdEnter = "enterName";
                }
                if(tdId.match("enterPlaceChange")){
                    tdEnter = "enterPlace";
                }
                if(tdId.match("enterInforChange")){
                    tdEnter = "enterInfor";
                }
                if(tdId.match("foodInforChange")){
                    tdEnter = "foodInfor";
                }
                var tr = $("#"+tdId).parent();
                if($("#"+tdId).children().val().length>0){
                    var data = "id="+tr.attr('id')+"&name="+tdEnter+"&value="+$("#"+tdId).children().val();
                    var ThemeHttp=new XMLHttpRequest();
                    ThemeHttp.open('POST',"http://localhost:8883/updateEnter",true);
                    ThemeHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    ThemeHttp.send(data);
                }
                $("#"+tdId).children().addClass('hiden');
            })
        })

        <!-- 风格管理/添加 -->
        function  saveTheme() {
            var inputThemeForm = document.getElementById("inputThemeForm");
            var file = document.getElementById("inputImgKey");
            var formData = new FormData(inputThemeForm);
            var fileObj =file.files[0];
            formData.append("uploadImage", fileObj);
            var url = "http://localhost:8883/upload";
            // var ThemeHttp=new XMLHttpRequest();
            // ThemeHttp.open('POST',url,true);
            // ThemeHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            // ThemeHttp.send(formData);
            <!--封装好的Ajax-->
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,

                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                processData: false,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,
                success: function (responseStr) {
                    alert(responseStr.newPath);

                },
                error: function (responseStr) {
                    alert(responseStr.newPath);
                }
            });

        }
        <!-- 风格管理/删除 -->
        function deleteTheme(erg){
            // var roomNo=document.getElementsByClassName('roomNo');
            var themeId=erg.value;
            var url="http://localhost:8883/deleteTheme";
            data="themeId="+themeId;
            console.log(themeId);
            var deleteThemeHttp = new XMLHttpRequest();
            deleteThemeHttp.open('post',url,true);
            deleteThemeHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            deleteThemeHttp.send(data);
        }

        <!-- 房间管理/保存-->
        function saveRoom(){
            var inputRoomNo = document.getElementById('inputRoomNo');
            var inputThemeName=document.getElementById('inputTheme');
            var inputAccomodate=document.getElementById('inputAccomodate');
            var inputRoomPrice=document.getElementById('inputRoomPrice');
            var roomNo=inputRoomNo.value;
            var index=inputThemeName.selectedIndex;
            var themeName=inputThemeName.options[index].text;
            var accomodate=inputAccomodate.value;
            var roomPrice=inputRoomPrice.value;
            data="roomNo="+roomNo+"&themeName="+themeName+"&accomodate="+accomodate+"&roomPrice="+roomPrice;
            console.log(data);
            var url="http://localhost:8883/addRoom";
            var roomHttp=new XMLHttpRequest();
            roomHttp.open('POST',url,true);
            roomHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            roomHttp.send(data);
        }
        <!-- 房间管理/删除-->
        function deleteRoom(erg){
            // var roomNo=document.getElementsByClassName('roomNo');
            var roomNo=erg.value;
            var url="http://localhost:8883/deleteRoom";
            data="roomNo="+roomNo;
            var deleteRoomHttp = new XMLHttpRequest();
            deleteRoomHttp.open('post',url,true);
            deleteRoomHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            deleteRoomHttp.send(data);
        }

        <!-- 食物管理/添加 -->
        function inputFood() {
            var file = document.getElementById("inputFoodImgKey");
            var inputFood = document.getElementById("inputFood");
            var formData = new FormData(inputFood);
            var fileObj = file.files[0];
            formData.append("uploadImage", fileObj);
            var url = "http://localhost:8888/inserFood";
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                processData: false,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,
                success: function (responseStr) {
                    // alert(formData);
                },
                error: function (responseStr) {
                    // alert(responseStr.newPath);
                }
            });
        }
        <!-- 食物管理/删除 -->
        function foodDelete(id) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // IE6, IE5 浏览器执行代码
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    // if(xmlhttp.responseText){
                    //     window.location.reload(true);
                    // }
                    alert(xmlhttp.responseText)
                }
            }
            var url = "http://localhost:8888/foodDelete";
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("id=" + id);
        }

        <!-- 娱乐管理/添加 -->
        function inputEntertainment() {
            var file = document.getElementById("inputEntetImgKey");
            console.log(file);
            var inputEntertainmentForm = document.getElementById("inputEntertainmentForm");
            var EnterformData = new FormData(inputEntertainmentForm);
            var fileObj = file.files[0];
            console.log(fileObj)
            EnterformData.append("uploadEnterImage", fileObj);
            var url = "http://localhost:8888/inserEntertainment";
            $.ajax({
                url: url,
                type: 'POST',
                data: EnterformData,
                /**
                 * 必须false才会避开jQuery对 formdata 的默认处理
                 * XMLHttpRequest会对 formdata 进行正确的处理
                 */
                processData: false,
                /**
                 *必须false才会自动加上正确的Content-Type
                 */
                contentType: false,
                success: function (responseStr) {
                    // alert(EnterformData);
                },
                error: function (responseStr) {
                    // alert(responseStr.newPath);
                }
            });
        }
        <!-- 娱乐管理/删除 -->
        function enterDelete(id) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // IE6, IE5 浏览器执行代码
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                }
            }
            var url = "http://localhost:8888/enterDelete";
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("id=" + id);
        }

    </script>
</head>
<body>
<div class="container">
    <h3 class="text-center header" >
        自然风光酒店
    </h3>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="nav_tab  nav_tab01 active">
                    <a href="#">风格管理</a>
                </li>
                <li class="nav_tab  nav_tab02">
                    <a href="#">房间管理</a>
                </li>
                <li class="nav_tab nav_tab03">
                    <a href="#">餐饮</a>
                </li>
                <li class="nav_tab nav_tab04">
                    <a href="#">娱乐</a>
                </li>
                <li class="nav_tab nav_tab05">
                    <a href="#">其他</a>
                </li>
            </ul>
            <br>
            风格管理
            <div class="StyleInfor">
                <form id="inputThemeForm" class="form-horizontal" action="/upload" >
                    <div class="control-group">
                        <label class="control-label" for="inputThemeName">风格名称</label>
                        <div class="controls">
                            <input id="inputThemeName" type="text" name="themeName" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputThemeInfor">描述</label>
                        <div class="controls">
                            <textarea  id="inputThemeInfor" name="themeInfor" placeholder="describe"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputImgKey">图片</label>
                        <div class="controls">
                            <input id="inputImgKey" type="file" name="imgKey" />
                        </div>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls" style="margin-top: 10px">
                        <button  class="btn" onclick="saveTheme()">保存</button> <button class="btn">修改</button>
                    </div>
                </div>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            类型序号
                        </th>
                        <th>
                            风格名称
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            图片
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i=0;i<themeData.length;i++){ %>
                    <tr>
                        <td>
                            <%=i+1%>
                        </td>
                        <td>
                            <%=themeData[i].themeName %>
                        </td>
                        <td>
                            <%=themeData[i].themeInfor %>
                        </td>
                        <td>
                            <img class="hostelImg" src="<%=themeData[i].imgKey %>" />
                        </td>
                        <td>
                            <button class="btn" onclick="deleteTheme(this)" value="<%=themeData[i].id %>">删除</button>
                        </td>
                    </tr>
                    <%} %>
                    </tbody>
                </table>
            </div>
            <!--房间管理-->
            <div class="HomeInfor">
                <form class="form-horizontal" action="/addRoom" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputRoomNo">房间编号</label>
                        <div class="controls">
                            <input id="inputRoomNo" type="text" name="roomNo" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputThemeName">房间风格</label>
                        <div class="controls">
                            <select name="inputThemeName" id="inputTheme">
                                <%for (var i=0;i<themeData.length;i++) {%>
                                <option value="<%=i %>"><%=themeData[i].themeName %></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputAccomodate">容纳人数</label>
                        <div class="controls">
                            <input  id="inputAccomodate" type="number" name="accomodate"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputRoomPrice">房间价格</label>
                        <div class="controls">
                            <input id="inputRoomPrice" type="text"  name="roomPrice"/>
                        </div>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls" style="margin-top: 10px">
                        <button  class="btn"  onclick="saveRoom()">保存</button>
                    </div>
                </div>
                <br>
                <form  class="form-search searchRoom" >
                    <input  class="input-medium search-query" id="inputRoomSearch" style="height: 32px;"  type="text" />
                </form>
                <button  class="btn search_roombtn" >搜索</button>

                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            房间编号
                        </th>
                        <th>
                            房间风格
                        </th>
                        <th>
                            容纳人数<span style="color:#ccc;">(可修改)</span>
                        </th>
                        <th>
                            价格<span style="color:#ccc;">(可修改)</span>
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody class="roomTbody">
                    <%for(var i=0;i<roomData.length;i++){%>
                    <tr class="room_hidden" id="<%=roomData[i].id%>">
                        <td class="roomNo">
                            <%=roomData[i].roomNO %>
                        </td>
                        <td class="updata_room">
                            <%=roomData[i].themeId %>
                        </td>
                        <td class="updata_room" id="tdAccommodate<%=roomData[i].id%>">
                            <%=roomData[i].accommodate %>
                            <input type="text" class="hiden">
                        </td>
                        <td class="updata_room" id="tdroomPrice<%=roomData[i].id%>">
                            <%=roomData[i].roomPrice %>
                            <input type="text" class="hiden">
                        </td>
                        <td>
                        <button type="submit" class="btn" onclick="deleteRoom(this)" value="<%=roomData[i].roomNO %>">删除</button>
                        </td>
                    </tr>
                    <%} %>
                    </tbody>
                </table>
            </div>
            <!--餐饮-->
            <div class="foodInfor">
                <form id="inputFood" class="form-horizontal" method="post" action="/inserFood">
                    <div class="control-group">
                        <label class="control-label" for="inputFoodName">菜品名称</label>
                        <div class="controls">
                            <input id="inputFoodName" type="text" name="foodName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodType">菜品种类</label>
                        <div class="controls">
                            <input id="inputFoodType" type="text" name="foodType"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodPrice">菜品价格</label>
                        <div class="controls">
                            <input id="inputFoodPrice" type="text" name="foodPrice"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodInfo">菜品描述</label>
                        <div class="controls">
                            <input id="inputFoodInfo" type="text" name="foodInfor"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodImgKey">菜品图片</label>
                        <div class="controls">
                            <input id="inputFoodImgKey" type="file" name="foodImgKey"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button onclick="inputFood()" type="submit" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <input type="text" id="foodText"><input type="button" value="搜索" id="foodSearch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>菜品序号</th><th>菜品名称</th><th>菜品种类</th><th>菜品价格</th><th>菜品描述</th><th>菜品图片</th>
                    </tr>
                    </thead>
                    <tbody id="foodTbody">
                    <% var length = foodData.length; %>
                    <% for(var i = 0; i < length; i++){ %>
                    <tr id="<%= foodData[i].id %>">
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td class="foodChange" id="foodNameChange<%= foodData[i].id %>">
                            <%= foodData[i].foodName %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodChange" id="foodTypeChange<%= foodData[i].id %>">
                            <%= foodData[i].foodType %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodChange" id="foodPriceChange<%= foodData[i].id %>">
                            <%= "￥" + foodData[i].foodPrice %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodChange" id="foodInforChange<%= foodData[i].id %>">
                            <%= foodData[i].foodInfor %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td>
                            <img src="<%= foodData[i].imgKey %>" style="width: 100px;height: 100px;">
                        </td>
                        <td>
                            <input type="button" value="删除" onclick="foodDelete(<%= foodData[i].id %>)">
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!--娱乐-->
            <div class="EntertainmentInfor">
                <form id="inputEntertainmentForm" method="post" action="/inserEntertainment" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEnterName">娱乐设施名称</label>
                        <div class="controls">
                            <input id="inputEnterName" type="text" name="enterName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEnterPlace">娱乐地点</label>
                        <div class="controls">
                            <input id="inputEnterPlace" type="text" name="enterPlace"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEnterInfor">描述</label>
                        <div class="controls">
                            <input id="inputEnterInfor" type="text" name="enterInfor"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputImgKey">图片</label>
                        <div class="controls">
                            <input id="inputEntetImgKey" type="file" name="EnterImgKey"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button type="submit" onclick="inputEntertainment()" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <input type="text" id="enterText"><input type="button" value="搜索" id="enterSearch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            娱乐设施编号
                        </th>
                        <th>
                            娱乐设施名称
                        </th>
                        <th>
                            娱乐地点
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            图片
                        </th>
                    </tr>
                    </thead>
                    <tbody id="enterTbody">
                    <% var enterlength = enterData.length; %>
                    <% for(var i = 0; i < enterlength; i++){ %>
                    <tr id="<%= enterData[i].id %>">
                        <td>
                            <%= i + 1 %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="enternge" id="enterNameChange<%= enterData[i].id %>">
                            <%= enterData[i].enterName %>
                            <input type="text" class="hiden" placeholder="双击保存修改">

                        </td>
                        <td class="enterChange" id="enterPlaceChange<%= enterData[i].id %>">
                            <%= enterData[i].enterPlace %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="enterChange" id="enterInforChange<%= enterData[i].id %>">
                            <%= enterData[i].enterInfor %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td>
                            <img src="<%= enterData[i].imgKey %>" style="width: 100px;height: 100px;">
                        </td>
                        <td>
                            <input type="button" value="删除" onclick="enterDelete(<%= enterData[i].id %>)">
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
</body>


</html>
