<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>自然风光主题酒店</title>

    <style>
        .header {
            width: 100%;
            display: inline-block;
            margin: 10px auto;
            height: 50px;
            background-color: #bce8f1;
            line-height: 50px;
        }

        .HomeInfor {
            display: none;
        }

        .foodInfor {
            display: none;
        }

        .EntertainmentInfor {
            display: none;
        }

        .hiden {
            display: none;
        }

    </style>
    <script>
        $(function () {
            $(".nav_tab").click(function () {
                if (!$(this).hasClass('active')) {
                    $(this).addClass('active');
                    $(this).siblings().removeClass('active');
                }
                if ($(this).hasClass('nav_tab01')) {
                    $('.StyleInfor').show();
                    $('.HomeInfor').hide();
                    $('.foodInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if ($(this).hasClass('nav_tab02')) {
                    $('.HomeInfor').show();
                    $('.StyleInfor').hide();
                    $('.foodInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if ($(this).hasClass('nav_tab03')) {
                    $('.foodInfor').show();
                    $('.StyleInfor').hide();
                    $('.HomeInfor').hide();
                    $('.EntertainmentInfor').hide();
                }
                else if ($(this).hasClass('nav_tab04')) {
                    $('.EntertainmentInfor').show();
                    $('.foodInfor').hide();
                    $('.StyleInfor').hide();
                    $('.HomeInfor').hide();
                }

            });

            $("#foodSearch").click(function () {
                var trList = $("#foodTbody").children("tr");
                var trLength = trList.length;
                for (var i = 0; i < trLength; i++) {
                    var tdArr = trList.eq(i).find("td");
                    var tdFoodName = tdArr.eq(1).text();
                    var tdfoodType = tdArr.eq(2).text();
                    var tdfoodPrice = tdArr.eq(3).text();
                    var tdfoodInfor = tdArr.eq(4).text();
                    var foodText = $("#foodText").val();
                    if (tdFoodName.match(foodText) || tdfoodType.match(foodText) || tdfoodPrice.match(foodText) || tdfoodInfor.match(foodText)) {
                        trList.eq(i).removeClass("hiden");
                    } else {
                        trList.eq(i).addClass("hiden");
                    }
                }
            });
            $("#enterSearch").click(function () {
                var trList = $("#enterTbody").children("tr");
                var trLength = trList.length;
                for (var i = 0; i < trLength; i++) {
                    var tdArr = trList.eq(i).find("td");
                    var tdenterName = tdArr.eq(1).text();
                    var tdenterPlace = tdArr.eq(2).text();
                    var tdenterInfor = tdArr.eq(3).text();
                    var enterText = $("#enterText").val();
                    if (tdenterName.match(enterText) || tdenterPlace.match(enterText) || tdenterInfor.match(enterText)) {
                        trList.eq(i).removeClass("hiden");
                    } else {
                        trList.eq(i).addClass("hiden");
                    }
                }
            });
            //食物名字点击事件
            $(".foodNameChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //食物类型点击事件
            $(".foodTypeChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //食物价格点击事件
            $(".foodPriceChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //食物介绍点击事件
            $(".foodInforChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //食物名字双击事件
            $(".foodNameChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateFood";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=foodName&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //食物类型双击事件
            $(".foodTypeChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateFood";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=foodType&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //食物价格双击事件
            $(".foodPriceChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateFood";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=foodPrice&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //食物介绍双击事件
            $(".foodInforChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateFood";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=foodInfor&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //娱乐名字点击事件
            $(".enterNameChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //娱乐地点点击事件
            $(".enterPlaceChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //娱乐介绍点击事件
            $(".enterInforChange").click(function () {
                var id = this.id;
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                    input.focus();
                }
            });
            //娱乐名字双击事件
            $(".enterNameChange").dblclick(function () {
                alert("点击")
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateEnter";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=enterName&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //娱乐地点双击事件
            $(".enterPlaceChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateEnter";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=enterPlace&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
            //娱乐介绍双击事件
            $(".enterInforChange").dblclick(function () {
                var id = this.id;
                var tr = $("#"+id).parent();
                var input = $("#"+id).find("input");
                if(input.hasClass("hiden")){
                    input.removeClass("hiden");
                }else{
                    if(input.val().length>0){
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // IE6, IE5 浏览器执行代码
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                            }
                        }
                        var url = "http://localhost:8888/updateEnter";
                        xmlhttp.open("POST", url, true);
                        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xmlhttp.send("name=enterInfor&value=" + input.val()+"&id="+tr.attr('id'));
                    }
                    input.addClass("hiden");
                }
            });
        })

    </script>
</head>
<body>
<div class="container">
    <h3 class="text-center header">
        自然风光酒店
    </h3>
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="nav_tab  nav_tab01 active">
                    <a href="#">风格管理</a>
                </li>
                <li class="nav_tab  nav_tab02">
                    <a href="#">房间管理</a>
                </li>
                <li class="nav_tab nav_tab03">
                    <a href="#">餐饮</a>
                </li>
                <li class="nav_tab nav_tab04">
                    <a href="#">娱乐</a>
                </li>
                <li class="nav_tab nav_tab05">
                    <a href="#">其他</a>
                </li>
            </ul>
            <br>
            <!--风格管理-->
            <div class="StyleInfor">
                <form class="form-horizontal">
                    <!--<div class="control-group">-->
                    <!--<label class="control-label" for="inputThemeNo">类型编号</label>-->
                    <!--<div class="controls">-->
                    <!--<input id="inputThemeNo" type="text" name="inputThemeName"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="control-group">
                        <label class="control-label" for="inputThemeName">风格名称</label>
                        <div class="controls">
                            <input id="inputThemeName" type="text"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputThemeInfor">描述</label>
                        <div class="controls">
                            <textarea id="inputThemeInfor" name="themeInfor" placeholder="describe"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputImgKey">图片</label>
                        <div class="controls">
                            <input id="inputImgKey" type="file" name="imgKey"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button type="submit" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            类型序号
                        </th>
                        <th>
                            风格名称
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            图片
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="error">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--房间管理-->
            <div class="HomeInfor">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputRoomNo">房间编号</label>
                        <div class="controls">
                            <input id="inputRoomNo" type="text" name="roomNo"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputThemeName">房间风格</label>
                        <div class="controls">
                            <input id="inputThemeName" type="text" name="themeName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputAccomodate">容纳人数</label>
                        <div class="controls">
                            <input id="inputAccomodate" type="number" name="accomodate"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputRoomPrice">房间价格</label>
                        <div class="controls">
                            <input id="inputRoomPrice" type="text" name="roomPrice"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button type="submit" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            房间编号
                        </th>
                        <th>
                            房间风格
                        </th>
                        <th>
                            容纳人数
                        </th>
                        <th>
                            价格
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="success">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="error">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="info">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--餐饮-->
            <div class="foodInfor">
                <form id="inputFood" class="form-horizontal" method="post" action="/inserFood">
                    <div class="control-group">
                        <label class="control-label" for="inputFoodName">菜品名称</label>
                        <div class="controls">
                            <input id="inputFoodName" type="text" name="foodName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodType">菜品种类</label>
                        <div class="controls">
                            <input id="inputFoodType" type="text" name="foodType"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodPrice">菜品价格</label>
                        <div class="controls">
                            <input id="inputFoodPrice" type="text" name="foodPrice"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodInfo">菜品描述</label>
                        <div class="controls">
                            <input id="inputFoodInfo" type="text" name="foodInfor"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFoodImgKey">菜品图片</label>
                        <div class="controls">
                            <input id="inputFoodImgKey" type="file" name="foodImgKey"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button onclick="inputFood()" type="submit" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <input type="text" id="foodText"><input type="button" value="搜索" id="foodSearch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>菜品序号</th><th>菜品名称</th><th>菜品种类</th><th>菜品价格</th><th>菜品描述</th><th>菜品图片</th>
                    </tr>
                    </thead>
                    <tbody id="foodTbody">
                    <% var length = foodData.length; %>
                    <% for(var i = 0; i < length; i++){ %>
                    <tr id="<%= foodData[i].id %>">
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td class="foodNameChange" id="foodNameChange<%= foodData[i].id %>">
                            <%= foodData[i].foodName %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodTypeChange" id="foodTypeChange<%= foodData[i].id %>">
                            <%= foodData[i].foodType %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodPriceChange" id="foodPriceChange<%= foodData[i].id %>">
                            <%= "￥" + foodData[i].foodPrice %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="foodInforChange" id="foodInforChange<%= foodData[i].id %>">
                            <%= foodData[i].foodInfor %>
                            <input  type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td>
                            <img src="<%= foodData[i].imgKey %>" style="width: 100px;height: 100px;">
                        </td>
                        <td>
                            <input type="button" value="删除" onclick="foodDelete(<%= foodData[i].id %>)">
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!--娱乐-->
            <div class="EntertainmentInfor">
                <form id="inputEntertainmentForm" method="post" action="/inserEntertainment" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEnterName">娱乐设施名称</label>
                        <div class="controls">
                            <input id="inputEnterName" type="text" name="enterName"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEnterPlace">娱乐地点</label>
                        <div class="controls">
                            <input id="inputEnterPlace" type="text" name="enterPlace"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEnterInfor">描述</label>
                        <div class="controls">
                            <input id="inputEnterInfor" type="text" name="enterInfor"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputImgKey">图片</label>
                        <div class="controls">
                            <input id="inputEntetImgKey" type="file" name="EnterImgKey"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px">
                            <button type="submit" onclick="inputEntertainment()" class="btn">保存</button>
                        </div>
                    </div>
                </form>
                <br>
                <input type="text" id="enterText"><input type="button" value="搜索" id="enterSearch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            娱乐设施编号
                        </th>
                        <th>
                            娱乐设施名称
                        </th>
                        <th>
                            娱乐地点
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            图片
                        </th>
                    </tr>
                    </thead>
                    <tbody id="enterTbody">
                    <% var enterlength = enterData.length; %>
                    <% for(var i = 0; i < enterlength; i++){ %>
                    <tr id="<%= enterData[i].id %>">
                        <td>
                            <%= i + 1 %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="enterNameChange" id="enterNameChange<%= enterData[i].id %>">
                            <%= enterData[i].enterName %>
                            <input type="text" class="hiden" placeholder="双击保存修改">

                        </td>
                        <td class="enterPlaceChange" id="enterPlaceChange<%= enterData[i].id %>">
                            <%= enterData[i].enterPlace %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td class="enterInforChange" id="enterInforChange<%= enterData[i].id %>">
                            <%= enterData[i].enterInfor %>
                            <input type="text" class="hiden" placeholder="双击保存修改">
                        </td>
                        <td>
                            <img src="<%= enterData[i].imgKey %>" style="width: 100px;height: 100px;">
                        </td>
                        <td>
                            <input type="button" value="删除" onclick="enterDelete(<%= enterData[i].id %>)">
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<script language="JavaScript">
    //添加食物
    function inputFood() {
        var file = document.getElementById("inputFoodImgKey");
        var inputFood = document.getElementById("inputFood");
        var formData = new FormData(inputFood);
        var fileObj = file.files[0];
        formData.append("uploadImage", fileObj);
        var url = "http://localhost:8888/inserFood";
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            success: function (responseStr) {
                // alert(formData);
            },
            error: function (responseStr) {
                // alert(responseStr.newPath);
            }
        });
    }

    //删除娱乐
    function enterDelete(id) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        }
        else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                // document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
            }
        }
        var url = "http://localhost:8888/enterDelete";
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("id=" + id);
    }

    //添加娱乐
    function inputEntertainment() {
        var file = document.getElementById("inputEntetImgKey");
        console.log(file);
        var inputEntertainmentForm = document.getElementById("inputEntertainmentForm");
        var EnterformData = new FormData(inputEntertainmentForm);
        var fileObj = file.files[0];
        console.log(fileObj)
        EnterformData.append("uploadEnterImage", fileObj);
        var url = "http://localhost:8888/inserEntertainment";
        $.ajax({
            url: url,
            type: 'POST',
            data: EnterformData,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            success: function (responseStr) {
                // alert(EnterformData);
            },
            error: function (responseStr) {
                // alert(responseStr.newPath);
            }
        });
    }

    //删除食物
    function foodDelete(id) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        }
        else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                // if(xmlhttp.responseText){
                //     window.location.reload(true);
                // }
                alert(xmlhttp.responseText)
            }
        }
        var url = "http://localhost:8888/foodDelete";
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.send("id=" + id);
    }

</script>
</html>